<div class = city>

<div class="map">
       <iframe
        width="400"
        height="300"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtovsQvkIUWlNqtYwXY87gEd4ZSmJEhMw
          &q=<%= @lat_long %>&zoom=5" allowfullscreen>
      </iframe>
      
    </div>

<h1><%= @city[:name] %></h1>
<br>
<br>
         
<% for hostel in @hostels %>
    
    <p>
    <img src="<%= hostel[:img_url] %>"  alt="idk" class = "responsive1">
    <a href="/hostels/<%= hostel[:id] %>"><%= hostel[:title] %></a>
    </p>
<% end %>
</div>