<div class = hostel>

<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md 6">
        <img src="<%= @hostel[:img_url] %>"  alt="idk" class = "responsive">
        <h1><%= @hostel[:title] %></h1>

        <div class = address>
            <p> Address </p>
            <p> 
            <i class="fas fa-map-marker-alt"></i> <%= @hostel[:address] %>
            </p>
        </div>

        <div class = property>
        <br>
        <p1> Property Description </p1>
        <p><%= @hostel[:description] %></p>
       
        </div>
        <div class = buttons>
        <p class="mt-5">
            <a href="<%= @hostel[:url] %>" class="btn btn-primary">Book Now!</a>
        </p>
        <p class="mt-5">
            <a href="/hostels/<%= @hostel[:id] %>/reviews/new" class="btn btn-primary">Leave A Review!</a>
        </p>
        </div>
         <% for review in @reviews %>
            <div class="media">
                <% if review[:recommended] %>
                    <i class="fas fa-thumbs-up fa-3x mr-3"></i>
                <% else %>
                    <i class="fas fa-thumbs-down fa-3x mr-3"></i>
                <% end %>
                <div class="media-body">
                    <h5 class="mt-0"><%= @users_table.where(id: review[:user_id]).to_a[0][:name] %></h5>
                    <%= review[:review] %>
                </div>
            </div>
        <% end %>
    </div>
    <div class="col-md-3">
    </div>
</div>

</div>